.bouton_soumission {
  background: linear-gradient(90deg, #F08F6A 0%, #ED7198 100.13%);
  /* component_blur */
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.65);
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  //Temporaire
  color: white;
  display: block;
  margin: 0 auto;
}

.bouton_inscription {
  display: block;
  width: 100%;
  margin-top: 20px;
  height: 40px;
  border-radius: 50px;
  border: solid 2px $rose;
  color: $rose;
  background-color: transparent;
  transition: background-color .5s ease,
              color .5s ease,
              border .5s ease;

  &:hover {
    background-color: $rose;
    color: white;
    border: none;
  }

  &:active {
    border: solid 2px $rose;
    color: $rose;
    background-color: transparent;
  }

  &:visited {
    border: solid 2px $rose;
    color: $rose;
    background-color: transparent;
  }

  @media (min-width: $tablettePortrait) {
    display: inline;
    width: 235px;
    height: 55px;
    margin-top: 0;
  }
}

.groupe_radio {
  &__labelRadio {
    display: block;
    text-align: center;
  }
}