.bouton {
  background: linear-gradient(90deg, #F08F6A 0%, #ED7198 100.13%);
  /* component_blur */
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.65);
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  color: white;
}

.bouton.desactive {
  background: rgba(75, 75, 75, 0.66) !important;
  color: white !important;
}

.boutons_controle {
  display: flex;
  justify-content: space-between;
}

.bouton_soumission {
  background: linear-gradient(90deg, #F08F6A 0%, #ED7198 100.13%);
  /* component_blur */
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.65);
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  //Temporaire
  color: white;
  display: block;
  margin: 0 auto;
}

.bouton_inscription {
  display: block;
  width: 100%;
  margin-top: 20px;
  height: 40px;
  border-radius: 50px;
  border: solid 2px $rose;
  color: $rose;
  background-color: transparent;
  transition: background-color .5s ease,
              color .5s ease,
              border .5s ease;

  &:hover {
    background-color: $rose;
    color: white;
    border: none;
  }

  &:active {
    border: solid 2px $rose;
    color: $rose;
    background-color: transparent;
  }

  &:visited {
    border: solid 2px $rose;
    color: $rose;
    background-color: transparent;
  }

  @media (min-width: $tablettePortrait) {
    display: inline;
    width: 235px;
    height: 55px;
    margin-top: 0;
  }
}

.groupe_radio {
  &__labelRadio {
    display: block;
    text-align: center;
  }

  label {
    //width: 100px;
    //height: 100px;
    display: inline-block;
    background-image: url("../images/spritesheet.svg");
    background-repeat: no-repeat;
    background-size: 200px;
  }

  label[for=jesuis_homme] {
    //left: 0;
    width: 50px;
    height: 50px;
    background-position: 0 0;
  }
  input:checked + label[for=jesuis_homme] {
    background-position: 0 -50px;
  }


  label[for=jesuis_femme] {
    //left: 50px;
    width: 50px;
    height: 50px;
    background-position: -50px 0;
  }
  input:checked + label[for=jesuis_femme] {
    background-position: -50px -50px;
  }

  label[for=jesuis_autre] {
    //left: 50px;
    width: 50px;
    height: 50px;
    background-position: -100px 0;
  }
  input:checked + label[for=jesuis_autre] {
    background-position: -100px -50px;
  }


  label[for=jecherche_homme] {
    //left: 0;
    width: 50px;
    height: 50px;
    background-position: 0 0;
  }
  input:checked + label[for=jecherche_homme] {
    background-position: 0 -50px;
  }


  label[for=jecherche_femme] {
    //left: 50px;
    width: 50px;
    height: 50px;
    background-position: -50px 0;
  }
  input:checked + label[for=jecherche_femme] {
    background-position: -50px -50px;
  }

  label[for=jecherche_autre] {
    //left: 50px;
    width: 50px;
    height: 50px;
    background-position: -100px 0;
  }
  input:checked + label[for=jecherche_autre] {
    background-position: -100px -50px;
  }
}