.champ {
  display: block;
}

/*** JS ***/
.valide {
  //border: green solid 1px !important;
  box-shadow: 0px 0px 22px -9px rgba(0,138,76,1) !important;
  transition-duration: .5s;
}

.invalide {
  //border: red solid 1px !important;
  box-shadow: 0px 0px 22px -9px rgba(255,0,0,0.59) !important;
  transition-duration: .5s;
}

.messageInvalide {
  color: red;
}

/*** GENERAL ***/

.groupe_radio {
  display: flex;
  justify-content: space-between;
}

.champ_seul {
  label {
    display: block;
    text-align: center;
    input {
      width: 100%;
      margin: 10px 0 20px 0;
    }
  }
}

.conteneurChamp {
  &__champ {
    border-radius: 50px;
    border: none;
    box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.41);
    padding: 15px 0 15px 10px;
    max-width: 100%;
  }
}

.groupe_date {
  &__champ {
    label {
      display: block;
      text-align: center;
      input {
        width: 100%;
        margin: 10px 0 20px 0;
      }
      select {
        width: 100%;
        margin: 10px 0 20px 0;
      }
    }
  }
}