.homme-svg {
    fill: url(#linear-gradient-homme);
}

.autre_genre-svg {
  fill: url(#linear-gradient-autre);
}

.femme-svg {
  fill: url(#linear-gradient-femme);
}

.selectionne {
  fill: $gris;
}

